#bloc_page{
	width:900px;
	margin:auto;

	color:#606060;
}

body{
	margin:auto;
	background: #0B1616;
	

}
/*navigation*/

header{
	background: #CECECE;
	padding-bottom: 0px;

}
nav{
	display:flex;
    justify-content: space-between;
    margin-left: 60px;
    margin-right: 60px;
    margin-bottom: 10px;
    marker-top: 10px
    height:350px;
    
}

.partie1{
	margin:5px;
	border: 1px black solid;
	display:flex;
	justify-content: space-between;
	width: 350px;
	height: 60px;


}

nav div ul{

	display:flex;
	justify-content: space-between;
	width: 280px;
	list-style-type: none;
}


b{
	color: 
	#E7A854
}
li{
	border:0.4px solid #848484;
	box-shadow: 2px 0.9px 0.9px #5A5E6B; 
	 }
h4{
	float: right;
	margin: 8px ;}

}
div #logo-page{
	
	margin: 100px!important
}

section{
	
	background: #EFEFEF;
	padding: 0px;
	margin: 150px;


}
#first{
padding-top:50px; 
	margin-bottom: 2px;
}
#banniere_image{
   height: 230px;
   margin-top:0px;
   background-image: url(image/header-page-catalogue.png);
}
.vente{
	display: flex;
	justify-content: space-between;
}
.gant{
  border: 0.4px solid #848484;
  margin: 65px;
  position: relative;
  box-shadow: 0.5px 0.9px 0.9px #5A5E6B; 
}
#gant-discription h5{
	position: absolute;
	bottom: 0;
	
    

}
h5{
	text-align: center;
	
}

footer{
	color:white;
	background: #5A5E6B;

}
.menu-foot1{
	display: flex;
}